{% extends "base.html" %}
{% block content %}
<div class="tracing-beam"></div>
<div class="services-container" style="padding-top: 75px;">
    <section class="service-section">
        <h2>Web Development Services</h2>
        <div class="card-container">
            <div class="card">
                <div class="card-content">
                    <h3>E-commerce Websites</h3>
                    <p>Custom online stores with secure payment gateways and inventory management.</p>
                </div>
                <div class="card-image" style="background-image: url('../static/media/mmtvs1.png');"></div>
            </div>
            <div class="card">
                <div class="card-content">
                    <h3>Branded Websites</h3>
                    <p>Unique, on-brand web experiences that capture your company's essence.</p>
                </div>
                <div class="card-image" style="background-image: url('../static/media/mmtvs2.png');"></div>
            </div>
            <div class="card">
                <div class="card-content">
                    <h3>Custom Web Applications</h3>
                    <p>Tailor-made web applications to streamline your business processes.</p>
                </div>
                <div class="card-image" style="background-image: url('../static/media/mmtvs3.png');"></div>
            </div>
        </div>
    </section>
    <section class="service-section">
        <h2>Specialized Software</h2>
        <div class="card-container">
            <div class="card">
                <div class="card-content">
                    <h3>Academic Software</h3>
                    <p>Custom solutions for educational institutions, including LMS and student portals.</p>
                </div>
                <div class="card-image" style="background-image: url('../static/media/mmtvs4.png');"></div>
            </div>
            <div class="card">
                <div class="card-content">
                    <h3>Mobile Apps</h3>
                    <p>Native and cross-platform mobile applications for iOS and Android.</p>
                </div>
                <div class="card-image" style="background-image: url('../static/media/mmtvs6.png');"></div>
            </div>
            <div class="card">
                <div class="card-content">
                    <h3>Enterprise Software</h3>
                    <p>Scalable, secure, and feature-rich software solutions for large organizations.</p>
                </div>
                <div class="card-image" style="background-image: url('../static/media/mmtvs5.png');"></div>
            </div>
        </div>
    </section>
</div>
<footer class="footer">
    <p>&copy; 2024 MabMediaTV. All Rights Reserved.</p>
</footer>
{% endblock %}